/* mealcancelation.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background-image: url("../assets/nitpimage.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e8f5e9;
}

header {
    background-color: #81C784;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #66BB6A;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

#mealOptions button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #81C784;
    color: white;
    border: none;
    cursor: pointer;
}

#mealOptions button:hover {
    background-color: #66BB6A;
}

#confirmationMessage {
    margin-top: 20px;
    color: #2E7D32;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
